<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">We</a>

      <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><%- link_to('Boards', '/boards') %></li>
              <li><%- link_to('Images', pathTo.images()) %></li>
              <li>
                <%- link_to('Galleries', pathTo.galleries()) %>
              </li>
      </ul>

      <div class="dropdown pull-right">

        <% if(isLogedIn()){ %>
          <div class="btn-group">

            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"  >
              <img class="avatar-small" src="/images/icons/user-avatar.png" >
              <%= request.user.displayName %> <span class="caret"></span>
            </a>

            <!-- Link or button to toggle dropdown -->
            <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
              <li>
                <%- linkTo('View account', pathTo.user(request.user),  { tabindex: '-1'}) %>
              </li>
              <li>
                <%- linkTo('Edit account', pathTo.edit_user(request.user),  { tabindex: '-1'}) %>
              </li>
              <!-- TODO implement modal change avatar
              <li>
                <a href="#" class="js-change-avatar">Change avatar</a>
              </li>
            -->
              <li class="divider"></li>
              <li>
                <%- linkTo('Sing out', pathTo.logout(),  { tabindex: '-1'}) %>
              </li>
            </ul>

          </div>
        <% }else{ %>

            <%- linkTo('Login', pathTo.login(),  {class: 'btn btn-success'}) %>
            <%- linkTo('Signup', pathTo.signup(),  {class: 'btn btn-primary '}) %>

        <% } %>


      </div>
    </div>
  </div>
</div>
</header>

