<header>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">We</a>
      
      <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><%- link_to('Boards', '/boards') %></li>
      </ul>
     
      <div class="dropdown pull-right">
      

        <% if(isLogedIn()){ %>
          <div class="btn-group">
           
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"  ><%= request.user.displayName %> <span class="caret"></span></a>


            <!-- Link or button to toggle dropdown -->
            <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
              <li><a tabindex="-1" href="/account">View account</a></li>
              <li><%- linkTo('Edit account', pathTo.settings_account(),  { tabindex: '-1'}) %></li>
              <li class="divider"></li>
              <li><%- linkTo('Sing out', pathTo.logout(),  { tabindex: '-1'}) %></li>
            </ul>

          </div>
        <% }else{ %>
          
            <%- linkTo('Login', pathTo.login(),  {class: 'btn btn-success'}) %> 
            <%- linkTo('Signup', pathTo.signup(),  {class: 'btn btn-primary '}) %>              
          
        <% } %>

    
      </div>
    </div>
  </div>
</div>                    
</header>