<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.tasks() %>">tasks</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New task</a></li>
</ul>

<div class="page-header">
    <h1>New task</h1>
</div>

<% var form = formFor(task, {action: pathTo.tasks(), method: 'POST', id: "task-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create task', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.tasks(), {class: 'btn'}) %>
</div>
<%- form.end() %>
