<div class="control-group">
   <%- form.label("Old password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("oldpassword", {type: 'password'}) %>
   </div>
</div>

<div class="control-group">
   <%- form.label("New password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password", {type: 'password'}) %>
   </div>
</div>

<div class="control-group">
   <%- form.label("Confirm new password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("confirmpassword", {type: 'password'}) %>
   </div>
</div>