<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("displayName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("displayName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>

<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>

<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("password") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("bio", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("bio") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("googleId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("googleId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("githubId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("githubId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("linkedinId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("linkedinId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
<div class="control-group">

   <%- form.label("activated", false, {class: "control-label"}) %>

   <div class="controls">

       <%- form.checkbox("activated") %>

   </div>

</div>
