<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.users() %>">users</a> <span class="divider">/</span></li>
</ul>

<div class=""><div class="row">
    <div class="span6">
    <p class="error">
    </p>


    <%- formTagBegin({ action: '/login' }) %>

    <div class="control-group">
        <%- labelTag('Email', { name: 'email'}) %>
        <%- inputTag({id: 'email',type: 'text', name: 'email', placeholder: 'Email'}) %>
    </div> 

    <div class="control-group">
        <%- labelTag('Password', { name: 'password'}) %>
        <%- inputTag({id: 'password', name: 'password' ,type: 'password', placeholder: 'Password'}) %>
    </div>
    
    <div class="form-actions">

        <%- buttonTag('Login',{type:'submit', class: 'btn btn-primary'}) %>

        &nbsp; or &nbsp;

        <a href="/signup" class="show-signup">Sign up</a>

    </div>

    <%- formTagEnd() %>


    </div>

    <div class="offset1 span5">
        <a href="/auth/facebook">
            <img src="/images/icons/facebook.png">
        </a>
        <a href="/auth/github">
            <img src="/images/icons/github.png">
        </a>
        <a href="/auth/twitter">
            <img src="/images/icons/twitter.png">
        </a>
        <a href="/auth/google">
            <img src="/images/icons/google.png">
        </a>
    </div>

</div></div>