<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">User account</a></li>
</ul>

<div class="page-header">
    <h1>User account</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr><th><% console.log(user) %>oi mundo</td></tr>
        <tr><th>Name</th><td><%= user.displayName %></td></tr>

        <tr><th>Username</th><td><%= user.username %></td></tr>

        <tr><th>email</th><td><%= user.email %></td></tr>

        <tr><th>bio</th><td><%= user.bio %></td></tr>

    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.account_settings(), {class: 'btn btn-primary'}) %>
</div>
