<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.boards %>">boards</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Details of board</a></li>
</ul>

<div class="page-header">
    <h1>Details of board</h1>
</div>

<div class="board-area row-fluid">

  <div class="list">
    <div class="list-header">
      <h4 class="list-title">
       To do
      </h4>
      
    </div>
    <div class="list-body">
      <div class="list-card">
  card 1
      </div>
      
      <div class="list-card">
  card 2
      </div>
      
    </div>
      
    <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
  
  </div>
  
  <div class="list">
    <div class="list-header">
      <h4 class="list-title">
       Dome
      </h4>
      
    </div>
    <div class="list-body">
      <div class="card">
  card 1
      </div>
      
      <div class="card">
  card 2
      </div>
      
    </div>
      
    <a class="open-card-composer js-open-card-composer" href="#">Add a card…</a>
  
  </div>
 
  

</div>

<table class="table table-bordered">
    <tbody>
        <tr><th>title</th><td><%= board.title %></td></tr>

        <tr><th>description</th><td><%= board.description %></td></tr>

        <tr><th>createdAt</th><td><%= board.createdAt %></td></tr>

        <tr><th>active</th><td><%= board.active %></td></tr>
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', pathTo.edit_board(board), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.board(board), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', pathTo.boards) %>
</div>
