<%- errorMessagesFor(image) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("description", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("description") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("fileName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("fileName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("type", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("type") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("length", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("length") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("systemName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("systemName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("mime", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("mime") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("uploadDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("uploadDate") %>
   </div>
</div>
