<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="<%- pathTo.images() %>">images</a> <span class="divider">/</span></li>
</ul>

<div class="page-header">
    <h1>Index of image</h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> New image', pathTo.new_image(), {class: 'btn btn-primary'}) %></p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (images.length > 0) { %>
            <% images.forEach(function (image) { %>

            <div class="image span3">
                <div class="image-header">
                    Created by
                    <% if(image.creator){ %>
                      <%- link_to( image.creator.displayName,  pathTo.user(image.creator) ) %>
                    <% } else { %>
                        Anonimous
                    <% } %>
                </div>
                <div class="image">
                    <%- link_to('<img src="/media/galleries/images/' + image.image.name + '">', pathTo.image(image.image)) %>
                </div>
                <div class="image-footer">
                    <%- link_to('<i class="icon-edit"></i> Edit', pathTo.edit_image(image.image), {class: 'btn btn-mini'}) %>
                    <%- link_to('<i class="icon-remove icon-white"></i> Delete', pathTo.image(image.image), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                </div>
            </div>
            <% }); %>

        <% } else { %>
        <p class="alert alert-block alert-info">
            <strong>No images were found.</strong>
        </p>
        <% } %>
    </div>
</div>
